.page {
    display:flex;
    flex-direction: row;
    height: 100%;
    background-color: #FCFCFB !important;
}
body{
    background-color: #FCFCFB !important;
}
.picture-create{
    flex:1;
    background-color: #FCFCFB;
}

img {
    max-width: 100% !;
    height: auto;
    width: auto; /* ie8 */
}
