@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Calendar */

.react-calendar {
	margin-left: 300px;
	margin-top: 20px;
}

/* .react-calendar {
	display: flex;
	font-family: "Open Sans" !important;
	font-size: 30px;
	border: 0px !important;
	overflow: hidden;
	border-color: white;
	min-width: 30vw;
	margin-top: 40px;
	min-height: 20vh;
	border-radius: 20px;
	box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.react-calendar__navigation {
	background-color: #A78EC3;
	color: white;
	margin-bottom: 0 !important;
}
.react-calendar__month-view__days__day--weekend {
	color: inherit !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
	color: #757575 !important;
}

.react-calendar__tile--now {
	background: none !important;
	font-weight: bold;
	font-size:30px;
}

.react-calendar__tile--now:hover {
	background: #e6e6e6 !important;
	font-weight: bold;
}

.react-calendar__tile--active {
	background: #9ED9D9 !important;
}

.react-calendar__navigation button{
	color: white;
}

.react-calendar__navigation__label span {
	color: white;
	font-weight: bold;
	font-size:40px;
}

.react-calendar__navigation__label:hover {
	background-color: #c257e2;
}

.react-calendar__month-view__weekdays {
	background-color: #F5F7FA !important;
}

.custom-div {
	border-radius: 20px;
	border-color: none;
} */

/* SmallCards */

.custom-card {
	filter: drop-shadow(0px 8px 16px rgba(137, 176, 175, 0.25));
	border-radius: 20px;
	border: none;
	max-width: 45rem;
	display: inline-block;
	font-family: "Open Sans" !important;
	box-shadow: none !important;
}
.card-header{
	box-shadow: none !important;
}

.custom-p {
	color: #7A7A7A;
	text-align: center;
}

.custom-a:hover {
	text-decoration: none;
	background-color: #e6e6e6;
}

.custom-a {
	max-width: 90px;
}

/* Schedule */

.dot {
  height: 40px;
  width: 40px;
  background-color: none;
  border-radius: 50%;
  border-color: #A78EC3;
  border-style: solid;
  display: inline-block;
}

.schedule-card {
	background: none;
	border: none;
	margin-left: 2vw;
}

.custom-header {
	color: #7A7A7A;
	font-family: "Open Sans" !important;
	font-weight: bold;
	margin-left: 3vw;
}

.move-title-up {
	margin-top: -70px;
}

.custom-time {
	color: #7A7A7A;
	font-family: "Open Sans" !important;
	width: 8vw;
}

.custom-timeTwo {
	color: #7A7A7A;
	font-family: "Open Sans" !important;
	width: 20vw;
}

.custom-div2 {
	margin-left: 300px;
}

.move-small-cards {
	margin-left: -340px;
}
.custom-no-events:hover {
    box-shadow: none !important;
}
.custom-deck {
	width: 15vw;
	margin-left: 340px !important;
}
.custom-a:hover {
	text-decoration: none;
	background-color: #e6e6e6;
	box-shadow: none !important;
}
.time-box {
	width: 10vw;
}

.event-card {
	width: 300px;
}

.event-card:hover {
	box-shadow: none !important;
	filter: drop-shadow(0px 8px 16px rgba(137, 176, 175, 0.25)) !important;
}

.event-header {
	font-family: "Open Sans" !important;
	font-weight: lighter;
}

.event-info-body {
	font-family: "Open Sans" !important;
	font-weight: lighter;
}

.custom-no-events {
	width: 300px;
}

.shadow-me {
	filter: drop-shadow(0px 8px 16px rgba(137, 176, 175, 0.25));
}