.main {
    display: flex;
    flex-direction: row;
    padding: 1%;
    height: fit-content;
}
.padding {
    flex:0.05;
}
.edu {
    flex: 1;
    border-radius: 10px;
    height: fit-content;
    box-shadow:none!important;
}
.person {
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin: 0px;
}
.picture {
    flex: 1;
    width: 120px;
}
.name_and_date {
    flex: 3;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

.name {
    color: black;
    font-size: 34px;
    margin-left:150px;
    margin-top:-75px;
}
.date {
    color: grey;
    font-size: 18px;
    margin-left:150px;
    margin-top:5px;
}
.edit {
    padding: 0px;
    margin: 0px;
    align-self: flex-start;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #A78EC3;
}
.listed_educations {
    color: grey;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.listed_skills {
    color: grey;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.listed_courses {
    color: grey;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.listed_languages {
    color: grey;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.listed_titles {
    color: rgb(151, 151, 151);
    font-size: 28px;
    margin-left:20px;
    margin-top:30px;
}
.listed_bodies {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: normal;
    margin-left: 5%;
    margin-bottom:20px;
}
.description {
    color: grey;
    font-size: 14px;
    margin-left: 5%;
    width: 25vw;
}
.info {
    flex: 1.5;
    border-radius: 10px;
    height: fit-content;
    box-shadow:none !important;
}
.info_title {
    padding: 2%;
    margin-bottom: 0%;
    color: #A78EC3;
    font-weight: bold;
    font-size: 36px;
    font-family: "Open Sans";
}
.title {
    color: gray;
    font-size: 22px;
}
.body {
    color: black;
    font-size: 18px;
    margin-left: 4%;
}
.top {
    display: flex;
    flex-direction: row;
}
.bottom {
    display: flex;
    flex-direction: row;
}
.pic_and_account_top {
    display: flex;
    flex-direction: row;
}
.pic_and_account_bottom {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
}
.pic {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.profile_pic_slot {
    margin-left: 40px;
}
.edit_slot {
    display: flex;
    flex-direction: column;
}
.linked {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.linked_pics {
    margin-top: 0%;
    margin-left: 30px;
}
.spacer {
    flex: 0.2;
}
.elemmentPic {
    width: 150px;
    height: 150px;
}
.element {
    flex: 1;
    width: 150px;
    height: 15px;
    padding-bottom: 20px;
}
.element_button {
    background-color: #A78EC3;
    color: white;
    width: 100px;
    height: 30px;
    font-weight: 300;
    font-family: "Open Sans";
    box-shadow: none;
    border: none;
    border-radius: 10px;
    position: center;
    margin-top:10px;
}
.element_image {
    height: 40px;
    width: 40px;
    margin-left: 5px;
}
.invis_button {
    border-color: transparent;
    background-color: transparent;
}
.edit_button {
    align-self: flex-end;
    margin: 0px 30px 40px 0px;
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-family: "Open Sans";
    box-shadow: none;
    border: none;
    border-radius: 10px;
    background-color: #A78EC3;
    border-color: white !important;
    color: white;
}
.divider {
    padding: 0px;
    border: 0;
    width: 99%;
    height: 3px;
    color: gray;
    background-color: #e3dddd;
    border-radius: 5px;
}
