.page {
    background-color: #7A7A7A !important;
}
body{
    background-color: #FCFCFB !important;
}
.picture{
    flex:1;
}

img {
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}

.events{
    display: flex;
    align-self: center;
    flex-direction: row-reverse;
}


.Sidebar{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.container-dash {
    display: flex;
    margin-left: 300px;

  }
.left-half {
    flex: 1;
    padding: 1rem;
  }
  .classesbox{
      margin-top:85px;
  }
  .right-half {
    margin-top:25px;
    flex: 1;
    padding: 1rem;
  }